<div class="row">
    <div class="col-md-7 col-7">
        {{id}}. {{burger_name}} 
    </div>
    <div class="col-md-3 col-3">
        <button class="change-devour" data-id="{{id}}" data-newdevour="{{devoured}}">
            {{!-- Based on the database coulmn name it checks the value --}}
            {{#if devoured}}Devour it!{{else}}Wanna more!{{/if}}
        </button>
    </div>
</div>